@import './var.styl'

.slide-leave-active,
.slide-enter-active
  transition: transform 0.3s
.slide-enter,
.slide-leave-to
  transform: translateX(100%) translateZ(0)


.slideTop-leave-active,
.slideTop-enter-active
  transition: transform 0.3s
.slideTop-enter,
.slideTop-leave-to
  transform: translateY(100%) translateZ(0)

