$color= #01b37e
$defaultColor= #ff7e46
$warnColor= #ff002a
$disabledColor= #f0eff5
$radius= 3px
$spacing= 10px
$btnFontSize= 14px
$fontSize= 16px
$borderColor= #f0eff5
$opacityBg= rgba(1,179,126,0.8)
$tabBarH= 52px